* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}

h1 {
  color: rgb(12, 14, 22);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.04688rem;
  margin: 0;
  margin-bottom: 0.19rem;
}

h3 {
  color: rgb(136, 142, 176);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 0.9375rem; /* 115.385% */
  letter-spacing: -0.00625rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: -0.07031rem;
    margin-bottom: 0.38rem;
  }
  h3 {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.9375rem; /* 115.385% */
    letter-spacing: -0.00625rem;
  }
}
button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: 0;
}
button:hover {
  outline: none;
}
button:focus {
  outline: none;
}

.btn {
  border-radius: 24px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3rem;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 0.9375rem; /* 100% */
  letter-spacing: -0.01563rem;
}

.btn-primary {
  background-color: rgb(124, 93, 250);
}
.btn-primary:hover {
  background-color: rgb(146, 119, 255);
}

.btn-red {
  background-color: rgb(236, 87, 87);
}
.btn-red:hover {
  background-color: rgb(255, 151, 151);
}

.errorMessage {
  font-size: 0.8rem;
  color: red;
}

.navigationBar {
  height: 4.5rem;
  padding: 0;
  background: #373B53;
  margin-bottom: 2.25rem;
}

.navigationBar__logoLink {
  height: 100%;
}

.navigationBar__logo {
  height: 100%;
}

.navigationBar__avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.navigationBar__themeButton {
  height: 100%;
  padding: 1.25rem 1.5rem;
}

.navigationBar__avatarButton {
  height: 100%;
  border-left: 2px solid #494E6E;
  padding: 1.25rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .navigationBar {
    height: 5rem;
    padding: 0;
    background: #373B53;
    margin-bottom: 3.87rem;
  }
}
@media screen and (min-width: 1024px) {
  .navigationBar {
    position: fixed;
    top: 0;
    width: 6.4375rem;
    height: 100%;
    border-radius: 0px 30px 30px 0;
    margin-bottom: 0rem;
  }
  .navigationBar__button-container {
    width: 100%;
  }
  .navigationBar__logOutButton, .navigationBar__themeButton, .navigationBar__avatarButton {
    margin: 0;
    margin-bottom: 2rem;
  }
  .navigationBar__logoLink {
    width: 6.4375rem;
    height: 6.4375rem;
  }
  .navigationBar__logo {
    width: 6.4375rem;
    height: 6.4375rem;
  }
  .navigationBar__avatarButton {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  .navigationBar__avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
  .navigationBar__themeButton {
    height: 20px;
    padding: 1.25rem 1.5rem;
  }
  .navigationBar__avatarButton {
    height: 5.5rem;
    width: 100%;
    border-top: 2px solid #494E6E;
    border-left: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container {
  margin-top: 0;
}

#header {
  position: relative;
  margin-bottom: 2rem;
}

.form-select {
  border: 0;
  outline: 0;
  color: rgb(12, 14, 22);
  text-align: right;
  font-family: League Spartan;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 0.9375rem; /* 100% */
  letter-spacing: -0.01563rem;
  background-color: transparent;
}

.plusSVG {
  margin-right: 0.5rem;
  position: relative;
}

.header__newButton {
  font-size: 0.9375rem;
  height: 100%;
}

.inputContainer {
  position: absolute;
  top: 4rem;
}

.header__filterButton {
  margin-right: 1.61rem;
  display: flex;
  flex-direction: row;
  height: 1rem;
  cursor: pointer;
}

.header__filterButtonSVG {
  margin-left: 0.75rem;
  transform: rotateX(180deg);
  transition: transform 0.5s;
}
.header__filterButtonSVG:hover {
  transform: rotateX(0);
}

.header__filterPar {
  color: var(--08, rgb(12, 14, 22));
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 0.9375rem; /* 100% */
  letter-spacing: -0.01563rem;
}

.mobileNoDisplay {
  display: none;
}

.inputContainer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
  padding: 1.5rem;
  padding-bottom: 0.1rem;
}

.form-check {
  margin-bottom: 1rem;
}

.form-check-label {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 0.9375rem; /* 100% */
  letter-spacing: -0.01563rem;
}

@media screen and (min-width: 768px) {
  #header {
    margin-bottom: 3.44rem;
  }
  .form-select {
    font-size: 0.9375rem;
    line-height: 0.9375rem;
    letter-spacing: -0.01563rem;
  }
  .header__newButton {
    width: 9.375rem;
    height: 3rem;
  }
  .header__filterButton {
    margin-right: 2.53rem;
  }
  .mobileNoDisplay {
    display: inline;
  }
}
@media screen and (min-width: 1024px) {
  #header {
    margin-top: 4.87rem;
  }
  .header__newButton {
    margin-right: 2.53rem;
  }
}
.invoices__row {
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.invoices__id {
  color: rgb(12, 14, 22);
  font-family: League Spartan;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: -0.01563rem;
  display: inline;
}

.invoices__idH {
  color: rgb(126, 136, 195);
  font-family: League Spartan;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: -0.01563rem;
  display: inline;
}

.invoices__date {
  color: rgb(126, 136, 195);
  font-family: League Spartan;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.9375rem;
  letter-spacing: -0.00625rem;
  display: inline;
}

.invoices__date.due {
  color: rgb(136, 142, 176);
}

.invoices__name {
  color: rgb(126, 136, 195);
  text-align: right;
  font-family: League Spartan;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.9375rem; /* 115.385% */
  letter-spacing: -0.00625rem;
}

.invoices__status-circle.green {
  fill: #33D69F;
}

.invoices__status {
  font-family: League Spartan;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9375rem; /* 100% */
  letter-spacing: -0.01563rem;
  width: 6.5rem;
  height: 2.5rem;
  background: rgba(51, 214, 159, 0.0571);
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoices__status svg {
  margin-right: 0.5rem;
}

.invoices__status.paid {
  color: #33D69F;
}/*# sourceMappingURL=styles.css.map */